input {
    border-width: 0;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px;
    background-color: rgb(255, 196, 196);
    max-width: 350px;
    accent-color: rgb(255, 186, 186);
    border-radius: 10px;
}

textarea {
    border-width: 0;
    display: flex;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(255, 196, 196);
    accent-color: rgb(255, 186, 186);
    resize: none;
    min-height: 60px;
    max-width: 350px;
    border-radius: 10px;
}

button {
    border-width: 0;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 196, 196);
    margin: 10px auto;
    font-weight: 500;
}

button:hover {
    background-color: rgb(255, 167, 167);
}

button:active {
    background-color: rgb(255, 157, 157);
}

img {
    margin: 10px 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
}

img:hover {
    opacity: 50%;
}

img:active {
    opacity: 25%;
}

.img-upload {
    display: none;
}
